// App Section 
.app-container {
    background-color: $color-app-bg;
}


// App Illustration

.app{
    background-color: #fff;
    width: rem(270);
    height: rem(550);
    transform: translateX(300px);
    display: grid;
    place-items: center;
    border-radius: rem(25);
    @media screen and (max-width: 1200px) {
        transform: translateX(0);
        margin: rem(100) auto 0 auto;
        z-index: 1;

    }
    

    &__screen{
        display: flex;
        flex-direction: column;
        width: rem(250);
        height: rem(530);
        border-radius: rem(20);
        background: $color-app-bg;

        &__header{
            display: flex;
            flex-direction: column;
            background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
            border-radius: rem(20) rem(20) rem(10) rem(10);
            

            &__bezzel{
                background: white;
                height: rem(15);
                width: rem(150);
                border-radius: 0 0 rem(10) rem(10);
                margin: 0 auto;
            }

            &__area{
                display: flex;
                justify-content: space-between;
                margin-top: rem(10);
                padding: 0 rem(20) rem(10) rem(20) ;
                

                &__profile{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-left: rem(-60);
                    gap: rem(10);

                    &__image{

                        img{
                            border: 1px solid white;
                            border-radius: rem(20);
                            height: rem(25);
                            width: rem(25);
                        }

                    }

                    &__text{
                        &__name{
                                font-size: rem(12);
                                font-weight: 700;
                                color: white;
                            }


                        &__status{
                            
                            font-size: rem(10);
                            color: white;
                            
                        }
                    }
                }
            }


        }
    }

    &__body{
        display: flex;
        flex-direction: column;
        gap: rem(10);
        padding: rem(20) rem(10) ;

        p{
                font-size: rem(8);
                font-weight: 400;
                line-height: rem(14);
            }

        &__message{
            

            &__dog-walker1{
                background: hsl(270, 100%, 94%);
                border-radius: rem(5);
                width: 60%;
                padding: rem(5);
                color: $color-left-chat;
            }
            
            &__dog-walker2{
                background: hsl(270, 100%, 94%);
                border-radius: rem(5);
                width: 60%;
                padding: rem(5);
                color: $color-left-chat;
            }

            &__dog-walker3{
                background: hsl(270, 100%, 94%);
                border-radius: rem(5);
                width: 55%;
                padding: rem(5);
                color: $color-left-chat;
            }

            &__dog-owner1{
                background: white;
                border-radius: rem(5) rem(5) 0 rem(5);
                width: 60%;
                padding: rem(5);
                align-self: flex-end;
                color: $color-right-chat;
            }

            &__dog-owner2{
                background: white;
                border-radius: rem(5) rem(5) 0 rem(5);
                width: 40%;
                padding: rem(5);
                align-self: flex-end;
                color: $color-right-chat;
            }


        }

        &__image-wrapper{
            display: flex;
            align-self: flex-end;
            gap: rem(10);
            img{
                width: rem(50);
                height: rem(50);
                border-radius: rem(10);
            }
        }

        &__option{
            display: flex;
            align-items: center;
            background: $color-gradient;
            border-radius: rem(10) rem(10) rem(10) 0;
            padding: rem(5);
            width: 70%;
            gap: rem(20);
            color: white;


            >span:first-of-type{
                font-size: rem(8);
            }
            >span:last-of-type{
                font-size: rem(15);
                font-weight: $weight-heavy;
            }


        }

        &__text-field{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: white;
            padding: rem(7) rem(7) rem(7) rem(20);
            border-radius: rem(30);
            color:$color-placeholder-text;

            a{
                >div{
                    background: #473e51;
                    width: rem(22);
                    height: rem(22);
                    border-radius: rem(50);
                    display: grid;
                    place-items: center;

                    i{
                        color: white;
                    }

                }
                

                
            }

        }

        
    }

}
