.app{
    margin-left: rem(30);
    background: white;
    width: rem(270);
    height: rem(570);
    display: grid;
    place-items: center;
    border-radius: rem(25);

    &__screen{
        width: rem(250);
        height: rem(510);
        border-radius: rem(20);

        &__header{
            background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
            border-radius: rem(20) rem(20) rem(10) rem(10);

            &__bezzel{
                background: white;
                height: rem(15);
                width: rem(150);
                border-radius: 0 0 rem(10) rem(10);
                margin: 0 auto;
            }

            &__area{
                margin-top: rem(10);
                padding: 0 rem(20) rem(10) rem(20) ;
                

                &__profile{
                    margin-left: rem(-60);
                    gap: rem(10);

                    &__image{

                        img{
                            border: 1px solid white;
                            border-radius: rem(20);
                            height: rem(25);
                            width: rem(25);
                        }

                    }

                    &__text{
                        &__name{
                                font-size: rem(12);
                                font-weight: 700;
                                color: white;
                            }


                        &__status{
                            
                            font-size: rem(10);
                            color: white;
                            
                        }
                    }
                }
            }


        }
    }

}
