
// Text Wrapper Section (2nd Section)

.text-wrapper {
    background-color:  $color-app-bg;
    align-self: center;
    min-height: 100vh;
    @media screen and (max-width: 1200px) {
        position: relative;
        
        
    }
    
    
    &__container {
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: rem(20);
        @media screen and (max-width: 1200px) {
            text-align: center;
            align-items: center;  
            margin-top: rem(-400) ;

        }
        
        p{
            color: #a39daa;
            margin-right: 130px;
            padding-right: rem(150);
            @media screen and (max-width: 1200px) {
                padding-right: 0;
                margin-right: 0;
            }
        }
    }
} 


