html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  max-width: 100%;
  background-color: white;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 500;
  color: #473e51;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}

p {
  font-size: 0.875rem;
  line-height: 1.7rem;
}

@media screen and (max-width: 992px) {
  p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

i {
  color: #d89eff;
  font-size: 0.75rem;
}

.main-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0px auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

@media screen and (max-width: 992px) {
  .main-container > * {
    min-height: 40vh;
  }
}

.main-container::before {
  position: absolute;
  width: 25.9375rem;
  height: 95vh;
  content: '';
  top: 0;
  left: 0;
  border-radius: 0px 0px 1000px 1000px;
  background-image: linear-gradient(-20deg, #8838ff, #e942ff);
  z-index: 0;
}

@media screen and (max-width: 1200px) {
  .main-container::before {
    height: 65vh;
    width: 31.25rem;
    left: -15rem;
  }
}

.main-container::after {
  position: absolute;
  width: 31.25rem;
  content: '';
  bottom: 0;
  right: -10rem;
  height: 85vh;
  border-radius: 1000px 1000px 0px 0px;
  background-color: #f0ecec;
  z-index: 0;
}

@media screen and (max-width: 1200px) {
  .main-container::after {
    height: 55vh;
    width: 31.25rem;
    right: -15rem;
  }
}

.app-container {
  background-color: #f5f3f7;
}

.app {
  background-color: #fff;
  width: 16.875rem;
  height: 34.375rem;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 1.5625rem;
}

@media screen and (max-width: 1200px) {
  .app {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin: 6.25rem auto 0 auto;
    z-index: 1;
  }
}

.app__screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15.625rem;
  height: 33.125rem;
  border-radius: 1.25rem;
  background: #f5f3f7;
}

.app__screen__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(#e942ff, #8838ff);
  border-radius: 1.25rem 1.25rem 0.625rem 0.625rem;
}

.app__screen__header__bezzel {
  background: white;
  height: 0.9375rem;
  width: 9.375rem;
  border-radius: 0 0 0.625rem 0.625rem;
  margin: 0 auto;
}

.app__screen__header__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.625rem;
  padding: 0 1.25rem 0.625rem 1.25rem;
}

.app__screen__header__area__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -3.75rem;
  gap: 0.625rem;
}

.app__screen__header__area__profile__image img {
  border: 1px solid white;
  border-radius: 1.25rem;
  height: 1.5625rem;
  width: 1.5625rem;
}

.app__screen__header__area__profile__text__name {
  font-size: 0.75rem;
  font-weight: 700;
  color: white;
}

.app__screen__header__area__profile__text__status {
  font-size: 0.625rem;
  color: white;
}

.app__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  padding: 1.25rem 0.625rem;
}

.app__body p {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.875rem;
}

.app__body__message__dog-walker1 {
  background: #f0e0ff;
  border-radius: 0.3125rem;
  width: 60%;
  padding: 0.3125rem;
  color: #9b46d8;
}

.app__body__message__dog-walker2 {
  background: #f0e0ff;
  border-radius: 0.3125rem;
  width: 60%;
  padding: 0.3125rem;
  color: #9b46d8;
}

.app__body__message__dog-walker3 {
  background: #f0e0ff;
  border-radius: 0.3125rem;
  width: 55%;
  padding: 0.3125rem;
  color: #9b46d8;
}

.app__body__message__dog-owner1 {
  background: white;
  border-radius: 0.3125rem 0.3125rem 0 0.3125rem;
  width: 60%;
  padding: 0.3125rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #5f4e6e;
}

.app__body__message__dog-owner2 {
  background: white;
  border-radius: 0.3125rem 0.3125rem 0 0.3125rem;
  width: 40%;
  padding: 0.3125rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #5f4e6e;
}

.app__body__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  gap: 0.625rem;
}

.app__body__image-wrapper img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0.625rem;
}

.app__body__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background: linear-gradient(#e942ff, #8838ff);
  border-radius: 0.625rem 0.625rem 0.625rem 0;
  padding: 0.3125rem;
  width: 70%;
  gap: 1.25rem;
  color: white;
}

.app__body__option > span:first-of-type {
  font-size: 0.5rem;
}

.app__body__option > span:last-of-type {
  font-size: 0.9375rem;
  font-weight: 700;
}

.app__body__text-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  padding: 0.4375rem 0.4375rem 0.4375rem 1.25rem;
  border-radius: 1.875rem;
  color: #c6cacd;
}

.app__body__text-field a > div {
  background: #473e51;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 3.125rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.app__body__text-field a > div i {
  color: white;
}

.text-wrapper {
  background-color: #f5f3f7;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.text-wrapper__container {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

@media screen and (max-width: 1200px) {
  .text-wrapper__container {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.text-wrapper__container p {
  color: #a39daa;
  margin-right: 130px;
  padding-right: 9.375rem;
}

@media screen and (max-width: 1200px) {
  .text-wrapper__container p {
    padding-right: 0;
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */